.counter {
    position: relative;
    border: 1px solid darkblue;
    padding: 30px;
    width: 300px;
    left: 0;
    right: 0;
    margin: 30px auto;
    font-weight: bold;
}

.blue, .red {
    font-size: 20px;
}

p {
    color: black;
    display: inline-block;
    font-size: 20px;
}
.counter span.value {
    margin-left: 10px;
}
 